body {
    margin-bottom: 30px;
    display: flex;
    background-color: rgb(50, 50, 50);
    flex-wrap: wrap;
}

p {
    font-size: 10px;
}


.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

/* Carousel */

.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 50, 50);
    max-width: 20%;
    z-index: -1;
    overflow: scroll;
}


/* Cards */

.card-base {
    width: 100%;
}

.card {
    background-color: rgb(228, 222, 222);
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    width: 100%;
}

.card-img-top {
    max-width: 100px;
    /* padding-bottom: 5px; */
    padding-top: 15px;
    margin: 0 auto;
}

.card-body {
    text-align: center;
}

.btn {
    margin-top: 5px;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    background-color: rgb(119, 119, 119);
}

/* Globe */

.globe-window {
    width: 80%;
    height: 100%;
    position:fixed;
    right: 0;

}

.globe {
    background-color: red;
    margin: 10 auto;
    /* height: 70rem;
    width: 70rem; */
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    border-radius: 5px;
    border-width: 5px;
    border-color: red;
}

.viewDiv {
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url(EQ\ BG.jpeg);
    background-position: center;
}

@media (max-width: 1200px) {

}

@media (max-width: 930px) {
    .card {
        max-height: 199px;
    }
}

@media (max-width: 850px) {
    .card-img-top {
        max-width: 75px;
    }

    .card {
        min-height:199px;
    }
}

@media (max-width: 820px) {
    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 9px;
    }

    .card {
        min-height: 199px;
    }
}

@media (max-width: 770px) {
    .card-img-top {
        display: none;
    }

    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 9px;
    }
    .card {
        max-height: 175px;
    }

}

@media (max-width: 750px) {

    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 9px;
    }

    .card-base .col {
        padding: 0;
    }

    .card {
        max-height: 175px;
        padding: 0;
    } 


}
 @media (max-width: 426px) {
     .dashboard-container {
         display: flex;
         flex-direction: row;
         position:static;
     }
     .carousel-inner {
        float:left;
        top: 0;
        width: 425px;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        overflow: auto;
     }
     .card-base {
        min-width: 133px;
        padding: 2px;
     }
    .card {
        min-height: 199px;
        min-width: 100px;
        padding: 0;
    } 
    .card-body {
        max-height: 185px;
        padding: 0;
    }
    .card-title {
        min-height: 42px;
        max-height: 42px;
    }
    .globe-window {
        max-width: 100%;
        width: 100%;
        margin-top: 200px;
    }
    .viewDiv {
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: left;
    }
 }