
body {
    margin-bottom : 30px;
    display: flex;
    background-color: rgb(50, 50, 50);
    flex-wrap: wrap;
}

.container {
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;

    
}

/* Header/Page title */
.header {
    min-width: 100vw;
    display: flex;
    /* margin: 0 auto; */
    color: white;
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.header-row {
    flex-wrap: nowrap;
    margin: 0 auto;
}

.header-text {
    /* margin-top: 10px; */
    width: auto;
}

.header-image {
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
}


/* Carousel */

.carousel {
    min-width: 50vw;
    /* min-height: 400px; */
    margin: 0 auto;
}

.carousel-slide {
    display: flex;
}

.carousel-inner {
    background-color: rgb(50, 50, 50);
    min-width: 65vw;
    min-height: 15rem;

}


.carousel-control-prev {
    width: 30px;
    justify-content: center;
}

.carousel-control-next {
    width: 30px;
    justify-content: center;
}

.carousel-control-prev-icon {
    background-color: red;
	border-radius: 10px;
	border-width: 8px;
    
}

.carousel-control-next-icon {
    background-color: red; 
	border-radius: 10px;
	border-width: 8px;
    
    
}

/* Cards */

.card-row {
    flex-wrap: nowrap;
}
.card-base{
    max-width: 35%;
}

.card {
    background-color: white;
    border-color: red;
	border-radius: 10px;
	border-width: 1px;
	/* hover effect + .card:hover */
	background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
	transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-top {
    max-width: 100px;
    /* padding-bottom: 5px; */
    padding-top: 15px;
    margin: 0 auto;
}

.card-body {
    text-align: center;
    min-height: 250px;
}

.btn {
    margin-top: 5px;
    border-color: black;
	border-radius: 20px;
	border-width: 1px;
    background-color: red;
}


/* Globe */

.globe-window {
    min-width: 100vw;
}

.globe {
    background-color: red;
    margin: 0 auto;
    /* height: 70rem;
    width: 70rem; */
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    border-radius: 5px;
    border-width: 5px;
    border-color: red;
}

.viewDiv {
    background-color: white;
    height: 60rem;
    width: 90vw;
    background-image: url(EQ\ BG.jpeg);
    background-position: center;
}

