body {
    margin-bottom: 30px;
    display: flex;
    background-color: rgb(50, 50, 50);
    flex-wrap: wrap;
}


.container {
    max-width: 100vw;
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

/* Header/Page title */
.header {
    min-width: 100vw;
    display: flex;
    /* margin: 0 auto; */
    color: white;
    /* font-family: 'Monda', sans-serif; */
    /* font-size: 4em; */
    align-items: center;
    justify-content: center;
}

.header-row {
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-top: 10px;
}

.header-text {
    /* margin-top: 10px; */
    width: auto;
}

.header-image {
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
}

/* Carousel */

.carousel {
    max-width: 75vw;
    /* min-width: 800px; */
    /* min-height: 400px; */
    margin: 0 auto;
}

.carousel-slide {
    display: flex;
}

.carousel-inner {
    background-color: rgb(50, 50, 50);
    min-width: 65vw;
    min-height: 15rem;
    margin: 0 auto; 
}

.carousel-control-prev {
    width: 30px;
    justify-content: flex-start;
    /* align-content: center; */
}

.carousel-control-next {
    width: 30px;
    justify-content: flex-end;
}

.carousel-control-prev-icon {
    background-color: red;
    border-radius: 10px;
    border-width: 8px;
}

.carousel-control-next-icon {
    background-color: red;
    border-radius: 10px;
    border-width: 8px;
}

/* Cards */

.card-row {
    flex-wrap: nowrap;
}

.card-base {
    max-width: 35%;
}

.card {
    background-color: white;
    border-color: red;
    border-radius: 10px;
    border-width: 1px;
    /* hover effect + .card:hover */
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    /* min-height: 385px !important; */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img-top {
    max-width: 100px;
    /* padding-bottom: 5px; */
    padding-top: 15px;
    margin: 0 auto;
}

.card-body {
    text-align: center;
    min-height: 250px;
}

.btn {
    margin-top: 5px;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    background-color: red;
}

/* Globe */

.globe-window {
    min-width: 100vw;
}

.globe {
    background-color: red;
    margin: 10 auto;
    /* height: 70rem;
    width: 70rem; */
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    border-radius: 5px;
    border-width: 5px;
    border-color: red;
}

.viewDiv {
    background-color: white;
    height: 60rem;
    width: 90vw;
    background-image: url(EQ\ BG.jpeg);
    background-position: center;
}

.carousel .carousel-window{
    min-width: 10px;
}

@media (max-width: 1200px) {
    .card {
        min-height: 440px;
    }
}

@media (max-width: 930px) {
    .card {
        max-height: 410px;
    }
}

@media (max-width: 850px) {
    .card-img-top {
        max-width: 75px;
    }

    .card {
        /* max-height: 450px; */
        min-height:450px;
    }
}

@media (max-width: 820px) {
    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 13px;
    }

    .card {
        min-height: 341px;
    }
}

@media (max-width: 770px) {
    .card-img-top {
        display: none;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }

    /* .carousel-control-prev {
        justify-content: flex-end;
        align-content: center;
    }
    
    .carousel-control-next {
        justify-content: flex-start;
        align-content: center;
    } */

    .card-row {
        min-height: 150px;
    }
}

@media (max-width: 750px) {

    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 12px;
    }

    .card-base .col {
        padding: 0;
    }

    .card {
        min-height: 210px;
        padding: 0;
    } 

    .carousel {
        max-width: 100vw;
    }

}